{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../">{% trans "Home" %}</a> &rsaquo;
     {% if app_name %}
     <a href="{% url app_index %}">{% trans "Site settings" %}</a> &rsaquo;
     {% trans app_name %}
     {% else %}
     {% trans "Site settings" %}
     {% endif %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for name, groups in app_list %}
        <div class="module">
        <table>
        <caption><a href="{% url app_settings name %}" class="section">{% trans name %}</a></caption>
        {% for group_name, group in groups %}
            <tr>
                <th scope="row"><a href="{% url app_group_settings name group_name %}">{% trans group_name %}</a></th>
                <td><a href="{% url app_group_settings name group_name %}" class="changelink">{% trans 'Change' %}</a></td>
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}
